<div class="span16">
  <header class="page-header"><h2>添加客户端</h2></header>
</div>

<div class="span12">
  <%= render 'form', :application => @application %>
</div>

<div class="span4">
  <h3>操作</h3>
  <p><%= link_to '返回列表', oauth_applications_path %></p>
</div>

